<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--通信类型：SP(串口),TCP,WCF(客户端)-->
    <add key="IsServer" value="true"/>
    <!--管理员的用户名和密码-->
    <add key="Username" value="21232F297A57A5A743894A0E4A801FC3"/>
    <add key="Password" value="4F6EF3780538C19E81CCCE3C0AB885BE"/>
    <add key="Telephones" value="18759282157"/>
    <add key="UPS" value="true"/>
    <add key="UPSCom" value="COM4"/>
    <add key="LanWCF" value="http://172.16.65.88:7070/EDSService"/>
    <add key="WanWCF" value="http://218.97.3.107:7070/EDSService"/>
    <add key="LanUpdate" value="http://172.16.65.88:7072"/>
    <add key="WanUpdate" value="http://218.97.3.107:7072"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <connectionStrings>
    <add name="EDSEntities" connectionString="metadata=res://*/EDSLot.csdl|res://*/EDSLot.ssdl|res://*/EDSLot.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-HAISHENG\SQLEXPRESS;initial catalog=EDS;persist security info=True;user id=sa;password=shihlin;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:7070/EDSService" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IEDSService" contract="ServiceReference1.IEDSService"
        name="WSHttpBinding_IEDSService" />
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEDSService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <!--<service name="Monitor.EDSService" behaviorConfiguration="metadataExchange">-->
      <service name="Monitor.EDSService">
        <endpoint address="http://localhost:7070/EDSService" binding="webHttpBinding" contract="Monitor.IEDSService" behaviorConfiguration="WebHttpBindingBehavior"/>
        <!--<endpoint address="net.tcp://localhost:7071/EDSService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEDSService" contract="Monitor.IEDSService"/>-->
        <!--<endpoint address="http://localhost:7070/EDSService/mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7070/EDSService"/>
          </baseAddresses>
        </host>-->
      </service>
    </services>
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name="metadataExchange">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBindingBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
