<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ComType" value="SP"/>
    <add key="Com" value=""/>
    <add key="Username" value="21232F297A57A5A743894A0E4A801FC3"/>
    <add key="Password" value="4F6EF3780538C19E81CCCE3C0AB885BE"/>
    <add key="SaveData" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
  <connectionStrings>
    <add name="EDSEntities" connectionString="metadata=res://*/EDSLot_EF.csdl|res://*/EDSLot_EF.ssdl|res://*/EDSLot_EF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-HAISHENG\SQLEXPRESS;initial catalog=EDS;persist security info=True;user id=sa;password=shihlin;pooling=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
